@model IEnumerable<FriendsTracker.Models.Friend>
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="Create">Add friend<br></a>
<a asp-action="AddFriensFromXML">Add multiple friends<br></a>
<a asp-action="DeleteAllFriends">Delete all friends</a>
<table class="table">
    <tr><td>Name</td><td>Age</td><td>Actions</td></tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Name</td>
    <td>@item.Age</td>
    <td>
        <a asp-action="Details" asp-controller="View" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Edit" asp-controller="View" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Delete" asp-controller="View" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>
    }
</table>
